<p>

</p>
<div class="container pt-12">
  <div class="row justify-content-sm-center">
    <div class="col-sm-6 col-md-4">

      <div class="card border-info text-center">
        <div class="card-header">
          Sign in to continue
        </div>
        <div class="card-body">
          <img src="https://placeimg.com/128/128/tech/sepia">
          <h4 class="text-center">Classroom Meet</h4>
          <form class="form-signin">
            <input type="text" class="form-control mb-2" placeholder="Email" required autofocus>
            <input type="password" class="form-control mb-2" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Sign in</button>
          </form>
        </div>
      </div>
      <!-- <a href="#" class="float-right">Create an account </a> -->
      <a [routerLink]="['/register']" class="float-right">Register</a>
    </div>
  </div>
</div>


