<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src = "https://www.freelogoservices.com/api/main/images/1j+ojVVCOMkX9Wyrexe4hGfa0qfD71UQx0PWqms+LiYV9wJ6zHl5i...dp8fs...LhsJ4UdO3U1ON5MwiSF...VYMTjxNk9w==">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <div class = "menu">
      <ul>
        <li><span class = "userName">Himanshu</span></li>
        <li><span class = "userIcon">HK</span></li>
      </ul>
    </div>

  </div>
</nav>

<main role="main" class="container dashboardContainer">

  <div class="starter-template">
      <router-outlet></router-outlet>
    
  </div>

</main>